.about_images {
    display: grid;
    place-items: center;
}

.about-content {
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.about-section-title {
    text-align: center;
    margin-bottom: 15px;
    color: #000;
}
  
.about-title-subheading {
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.about-text {
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    color: #000;
}

.about-text p {
    margin-bottom: 15px;
    line-height: 30px;
    justify-content: center;
    text-align: center;
    color: #000;
}

.tracks {
    margin-top: 2vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.tracks img {
    width: 150px;
    display: block;
}

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.light-mode-text {
    color: #fff;
}

@media (prefers-color-scheme: light) {
    .light-mode-text {
        color: #fff; 
    }
}

@media (prefers-color-scheme: dark) {
    .light-mode-text {
        color: inherit;
    }
}

.team-link:hover {
    text-decoration: underline;
    color: #e95c3f;
}

@media (max-width: 768px) {
    .about-page {
        width: 100%;
        padding: 20px 0;
    }

    .about-content {
        padding: 20px 15px;
        margin: 0 auto;
        width: 100%;
    }

    .text-container, .tracks-container {
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .about-section-title {
        margin-bottom: 10px;
    }

    .about-title-subheading {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .about-text {
        font-size: 16px;
        line-height: 1.5;
        padding: 0 10px;
        width: 100%;
    }

    .about-text p {
        margin-bottom: 10px;
        line-height: 1.5;
    }

    .tracks {
        flex-direction: column;
        align-items: center;    
        text-align: center;
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
    }

    .tracks div {
        width: 95%; 
        margin-bottom: 5px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .tracks img {
        width: 100%;
        max-width: 150px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        justify-content: center;
        align-items: center;
    }

    .tracks h1 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    .tracks p {
        font-size: 14px;
        line-height: 1.4;
    }
}
