.about_images {
    display: grid;
    place-items: center;
}

.about-content {
    padding-bottom: 10vh;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
    /*uncommented this for sponsors page*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*all added for centering*/
    overflow-x: hidden;
}


.about-section-title {
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
}
  
.about-title-subheading {
    text-align: center;
    color: #fff;
}

.about-text {
    /* background-color: red; */
    font-size: 23px;
    font-weight: 500;
    margin-top: 5vh;
    margin-left: 16vw;
    margin-right: 16vw;
    margin-bottom: 10vh;
    width: 100vh;
}

.about-text p {
    margin-bottom: 15px;
    line-height: 30px;
    justify-content: center;
}

.tracks {
    margin-top: 5vh;
    margin-bottom: 5vh;
    justify-items: center;
    justify-content: space-between;
    align-items: flex-start;
    gap: 90px;
    font-size: 1.2rem;
}

.tracks img {
    width: 200px;
    display: block;
    /*make images bigger for desktop*/
}

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center; /*center content*/
    align-items: center;
    min-height: 100vh; /*fill page*/
    background: radial-gradient(125% 125% at 50% 90%, #000 40%, #63e 100%); /*for blend*/
}


@media (max-width: 768px) {


    .about-page {
        overflow-x: hidden;
    }

    .about-content {
        padding-top: 10vh;
        padding-bottom: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: center;
    }

    .title {
        padding-top: 10vh;
        width: 100%;
        justify-content: center;
    }

    .about-text {
        font-size: 14px;
        margin-left: 10vw;
        margin-right: 10vw;
        width: 90vw;
        line-height: 28px;
        text-align: center;
    }

    .tracks {
        flex-direction: column;
        align-items: center;    
        text-align: center;
        gap: 20px;
    }

    .tracks div {
        width: 90%; 
        margin-bottom: 10px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        /* centering for mobile, also scaling for view*/
    }

    .tracks img {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*scale down images for mobile, this might need to be adjusted*/
    }

    .tracks h1, p {
        text-align: center;
        font-size: 18px;
    }

}
