.footer-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20vh; 
    padding: 5px 0;
    padding-bottom: 20px;
    position: relative;
    background-color: #fed5a9;
    /* background-image: url('/hackumbc_bg.webp');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat; */
}

.footer-content {
    text-align: center;
    position: relative;
    z-index: 2;
}

.tracks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    margin-bottom: 10px; 
    flex-wrap: wrap;
}

.track-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vh;
    border-radius: 10px;
    border: 6px solid transparent;
    transition: all 0.3s ease-in-out;
}

.track-item:hover {
    cursor: pointer;
    scale: 1.2;
}

.track-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
}

.track-image {
    width: 100px; 
    height: auto;
    scale: 0.8;
}

.footer-info {
    color: #000000;
    font-size: 0.9rem;
    text-align: center;
}

.footer-link {
    color: #1E90FF;
    text-decoration: none;
    margin: 0 3px;
}

.footer-link:hover {
    text-decoration: underline;
}
.footer-svg {
    display: none;
}

@media (max-width: 768px) {

    .footer-svg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;        
        height: auto;
        display: block;
        pointer-events: none;
        z-index: 1; 
        margin-top: -1px;
    }

    .tracks {
        flex-direction: row !important;
        justify-content: center !important; 
        gap: 5px !important;
    }

    .track-item {
        width: 12vh !important;
        padding: 5px;
    }

    .track-title {
        font-size: 0.8rem !important;
    }
    
    .track-image {
        scale: 1;
    }

    .footer-info p {
        font-size: 0.8rem;
    }
    /*i used !important because none of the changes were working due to conflicting track styling, if that gets resolved eventually, those tags can be removed*/
}
