.footer-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 8vh; 
    padding: 5px 0;
    padding-bottom: 5px;
    position: relative;
    background-color: #fed5a9;
    overflow: hidden;
    margin-top: 0;
    top: 0;
    transform: translateZ(0);
    /* background-image: url('/hackumbc_bg.webp');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat; */
}

.footer-content {
    text-align: center;
    position: relative;
    z-index: 2;
}

.footer-svg {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;        
    height: auto;
    display: block;
    pointer-events: none;
    z-index: 1; 
    margin-top: 0;
    transform: translate3d(0, 0, 0);
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.tracks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    margin-bottom: 5px; 
    flex-wrap: wrap;
}

.track-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vh;
    border-radius: 10px;
    border: 6px solid transparent;
    transition: all 0.3s ease-in-out;
}

.track-item:hover {
    cursor: pointer;
    scale: 1.2;
}

.track-title {
    font-size: clamp(0.9rem, 1.2vw, 1.3rem);
    font-weight: bold;
    color: #000000;
}

.track-image {
    width: clamp(100px, 12vw, 140px); 
    height: auto;
    transform: none;
}

.footer-info {
    color: #000000;
    font-size: 0.9rem;
    text-align: center;
}

.footer-link {
    color: #1E90FF;
    text-decoration: none;
    margin: 0 3px;
}

.footer-link:hover {
    text-decoration: underline;
}

@media (min-width: 769px) {
    .footer-page {
        min-height: 40vh;
    }
}

@media (max-width: 768px) {
    
    .tracks {
        flex-direction: row !important;
        justify-content: center !important; 
        gap: 5px !important;
    }

    .track-item {
        width: auto !important;
        padding: 5px;
    }

    .track-title {
        font-size: clamp(0.9rem, 1.2vw, 1.3rem) !important;
    }
    
    .track-image {
        width: clamp(75px, 12vw, 175px) !important;
    }

    .footer-info p {
        font-size: 0.8rem;
    }
    /*i used !important because none of the changes were working due to conflicting track styling, if that gets resolved eventually, those tags can be removed*/
}
