.formBox {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.3px);
    -webkit-backdrop-filter: blur(0.3px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    margin-top: 12vh;
    margin-bottom: 5vh;
}
.home-container {
    min-height: 100vh; /* Ensures the container is at least the height of the viewport */
    background-size: cover; /* Ensures the background image covers the entire container */
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-attachment: fixed; /* Keeps the background fixed as you scroll */
  }

.footer-info {
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
}

.footer-link {
    color: #1E90FF;
    text-decoration: none;
    margin: 0 3px;
}

.footer-link:hover {
    text-decoration: underline;
}

.nav-link{
    display: none;
}

.btn-custom {
    position: relative;
    overflow: hidden;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    height: 3rem;
    width: 7rem;
    border-radius: 2rem;
    border: .1rem solid transparent;
    border-color:#ffffff;
    z-index: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #46df77, #3b7df6); 
  } 
  
  .btn-custom::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
    transition: all 0.5s ease;
  }
  
  .btn-custom:hover::before {
    top: 0;
  }
  
  .btn-custom:hover {
    color: white;
    cursor: pointer;
  }
  
/*added footer styling here to match */

@media (max-width: 768px) {

    .nav-logo {
        display: none;
    }
    
    #hamburger-nav.hamburger-menu {
        display: none;
    }
    /*hide logo and hamburger menu on form mobile view*/    
}    