.privacy-policy-page {
    background-image: url('/hackumbc_bg.png');
    color: #000000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.privacy-policy-content {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    margin-top: 1.5rem;
}

.privacy-policy-content p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.hidden-message {
    color: #ff0000;
    font-weight: bold;
    margin-top: 30px;
}

.section-title {
    margin-bottom: 30px;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.special-text {
    color: #00bbff;
    font-weight: 600;
    text-decoration: underline;
}

.nav-link{
    display: none;
}

@media (max-width: 768px) {

    #hamburger-nav.hamburger-menu {
        display: none;
    }
    /*hide logo and hamburger menu on form mobile view*/

    .privacy-policy-page {
        width: 100%;
        padding: 10vh 5vw;
    }

    .privacy-policy-content {
        width: 90%;
    }

    .privacy-policy-content p {
        font-size: 16px;
        line-height: 1.6;
    }

    .hidden-message {
        font-size: 18px;
    }
}

.light-mode-text {
    color: #fff;
}

@media (prefers-color-scheme: light) {
    .light-mode-text {
        color: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    .light-mode-text {
        color: inherit;
    }
}

.privacy-policy-content h3 {
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.privacy-policy-title {
  margin-top: 3.5rem;
}