.sponsors-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #005f73 100%);
    flex-direction: column; 
}

.sponsors-section-title {
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
}

.sponsors-title-subheading {
    text-align: center;
    color: #fff;
}

.sponsors-content {
    width: 90%;
    max-width: 1200px;
    padding: 2vw;
    margin-top: -30px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 60px;
}

.sponsors-tier-container {
    width: 90%;
    max-width: 1000px;
    height: 100%;
    margin: 20px auto; 
    background-color: #ba4126;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
    overflow: hidden; 
    border: 3px solid #ffffff; 
    box-shadow: 0 0 10px rgba(255, 255, 255);
    /* white line divider between tiers */
}

.sponsors-tier-title {
    font-size: 1.75rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.sponsors-title-subheading {
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
}

.sponsors-icon {
    width: 30px;
    height: 30px;
}

.sponsors-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 0;
    flex-wrap: wrap; /* allow logos to wrap onto the next line */
    overflow-x: hidden;
    overflow-y: hidden; 
}

.sponsors-logo {
    max-width: auto;
    height: 7vh;
    transition: transform 0.3s ease;
    scale: 1;
}

.sponsors-logo:hover {
    scale: 1.1;
}

@media (max-width: 768px) {

    .sponsors-section-title {
        margin-top: -10px;
    }

    .sponsors-tier-page {
        scale: .95;
    }

    .sponsors-content {
        margin-top: -10px;
    }

    .sponsors-tier-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .sponsors-logo {
        max-width: 80px; 
        height: auto; 
    }

    .sponsors-logos {
        gap: 30px; 
    }

    .sponsors-tier-container {
        width: 100%;
        padding: 10px;
        margin: 10px auto;
    }

    .sponsors-title-subheading {
        margin-bottom: 15px;
    }

    .sponsors-content {
        width: 100%;
    }

    .sponsors-section-title {
        padding-top: 15px;
    }

    .sponsors-icon {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 480px) {

    .sponsors-content {
        scale: .95;
    }

    .sponsors-tier-container {
        scale: 1;
    }

    .sponsors-logos {
        gap: 20px;
        scale: 1;
    }

    .sponsors-logo {
        max-width: 70px;
    }

    .sponsors-tier-title {
        font-size: 1rem;
    }

    .sponsors-title-subheading {
        margin-bottom: 10px;
    }
}